{block content}

<div id="heading">
    <a href="#" id="exit" class="window-btn"><i class="fas fa-times"></i></a>
    <a href="#" id="minimize" class="window-btn"><i class="far fa-window-minimize"></i></a>
    <a href="#" id="fullscreen" class="window-btn"><i class="far fa-square"></i></a>
    <h1 n:block="title">KuboFeeder</h1>
</div>
<div id="inner">
    Tady bude
</div>

{/block}